#image404 {
  -moz-transition: transform 1s;
  -webkit-transition: transform 1s;
  transition: transform 3s;
}
#page_not_found_image {
	-moz-transition: transform 1s;
  -webkit-transition: transform 1s;
  transition: transform 6s;
}
#error-heading {
	-moz-transition: transform 1s;
  	-webkit-transition: transform 1s;
  	transition: transform 3s;
}	
#csrf_error {
	-moz-transition: transform 1s;
  	-webkit-transition: transform 1s;
  	transition: transform 3s;
}
#error_500 {
-moz-transition: transform 1s;
  	-webkit-transition: transform 1s;
  	transition: transform 3s;
}
.flop {
		transform: translateY(100px);
}
.flap-again {
	transform: scale(1.1) skew(-10deg);
}
.flap {
	transform: rotate(-20deg);
}
.flip {
  transform: rotate(40deg);
}
.flip-again {
	transform: rotate(5deg);
/*	transform: rotate(-30deg);
*/}
body {
	overflow-x: hidden; 
	overflow-y: hidden;
}

.image-container {
	padding-top: 40px; 
	padding-left: 40px
}
.error-head {
	font-family: 'Saira Extra Condensed', sans-serif;
	font-size: 106px; 
	color: #0078af; 
	padding-top: 150px; 
	text-align: center;
}
.error-desc {
	font-size: 22px; 
	color: #0078af;
	font-family: 'Saira Extra Condensed', sans-serif; 
	text-align: center;
}
