body {
	overflow-x: hidden
}
.navbar-heading-one {
	text-align: center; 
	font-size: 18px; 
	color: white; 
	padding-top: 12px
}
.secondary-heading {
	color: #333; 
	font-size: 20px
}
.secondary-heading-text {
	color: #e3e8ef; 
	font-size: 34px;  
	font-family: 'Pacifico', cursive;
	text-align: center;
	padding-bottom: 10px
}
.basic-heading {
	color: white; 
	font-size: 70px; 
	padding-left: 50px; 
	padding-top: 50px; 
	font-family: 'Josefin Slab', serif;
}
.sub-heading {
	color: #d4e1f4;
	padding-left: 50px; 
	padding-top: 5px; 
	font-family: 'Josefin Slab', serif; 
	font-size: 22px
}
.label-style {
	color: #d4e1f4;
	font-family: 'Josefin Slab', serif; 
	font-size: 22px; 
	padding-top: 70px
}
.give-gradient {
background: #0575E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: 80px;
}

.large-grad {
height: 400px;
background: #41295a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.navbar-fixed-bottom {
	background: #4B79A1;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}